@import './base.css';
@import './variables.css';

body {
  min-height: 100vh;
  padding: 1rem;
  background-color: var(--body-bg);
}

/* Shared classes */

.subtle-text {
  color: var(--text-subtle);
  font-size: 0.9rem;
}

.ellipsable {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* #app {}

@media (min-width: 1024px) {
  body {}

  #app {}
} */
