@import './base.css';
@import './variables.css';

body {
  min-height: 100vh;
  padding: 1rem;
  background-color: var(--body-bg);
}

/* Shared classes */

.ellipsable {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.text-subtle {
  color: var(--p-surface-500);
  line-height: 1.1;
}
