
/* Not sure why, these feel better here than in theme preset 🤷‍♂️ */
/* (probably because they have not variations) */

:root {
  --body-bg: var(--p-surface-100);
  --text-subtle: var(--p-zinc-500);
  --error-color: var(--p-red-500);
  --success-color: var(--p-lime-500);
}

:root[class='dark-mode'] {
  --body-bg: var(--p-surface-950);
}
