
/* Not sure why, these feel better here than in theme preset 🤷‍♂️ */
/* (probably because they have not variations) */

:root {
  --text-subtle: var(--p-zinc-500);
  --error-color: var(--p-red-500);
  --success-color: var(--p-lime-500);
  
  --body-bg: var(--p-surface-100);
  
  --scrollbar-track-bg: var(--p-surface-100);
  --scrollbar-thumb-bg: var(--p-surface-300);
  --scrollbar-thumb-hover-bg: var(--p-surface-500);
  --scrollbar-width: 5px;
  --scrollbar-height: 2px;
}

:root[class='dark-mode'] {
  --body-bg: var(--p-surface-950);

  --scrollbar-track-bg: var(--p-surface-900);
  --scrollbar-thumb-bg: var(--p-surface-600);
  --scrollbar-thumb-hover-bg: var(--p-surface-500);
}
